<div class="top-menu">

    <img class="logo"
         src="https://angular-academy.s3.amazonaws.com/main-logo/main-page-logo-small-hat.png">

</div>

<div class="courses">

    <course-card *ngFor="let course of courses | slice:0:8; index as i"
      (courseSelected)="onCourseSelected($event)"
      [course]="course" [cardIndex]="i+1"></course-card>

  <!-- with Angular ngFor we can minimize repetition by looping through an array of data rather than call one component version at a time ...also available within ngFor are isFirst etc selectors as seen below-->

  <!-- <course-card *ngFor="let course of courses; index as i; first as isFirst; last as isLast; even as isEven; odd as isOdd"
      [class.is-first]="isFirst"
      [class.is-last]="isLast"
      [class.is-even]="isEven"
      [class.is-odd]="isOdd"
      (courseSelected)="onCourseSelected($event)"
      [course]="course" [cardIndex]="i+1"></course-card> -->

  <!-- with Angular we can now replace the div with class course-card with our custom course-card html element which will instead hold our original div -->

    <!-- <course-card (courseSelected)="onCourseSelected($event)" [course]="coreCourse"></course-card>

    <course-card (courseSelected)="onCourseSelected($event)" [course]="rxjsCourse"></course-card>

    <course-card (courseSelected)="onCourseSelected($event)" [course]="ngrxCourse"></course-card> -->

    <!-- <div class="course-card">

        <div class="course-title">
            Angular Core Deep Dive
        </div>
        <img width="300" alt="Angular Logo"
             src="https://s3-us-west-1.amazonaws.com/angular-university/course-images/angular-core-in-depth-small.png">

        <div class="course-description">
            A detailed walk-through of the most important part of Angular - the Core and Common modules.
        </div>

    </div> -->

</div>

<!-- PIPING  -->
<!-- <div class="demo">
    <h2>Pipe Examples</h2>
    <div>Start Date: {{startDate | date: 'MM/dd/yyyy'}}</div>

    <div>{{title | uppercase}}</div>
    <div>{{price | number: '3.3-5'}}</div>
    <div>{{price | currency}}</div>
    <div>{{rate | percent}}</div>
    <div *ngFor="let pair of course | keyvalue">
      {{pair.key + ': ' + pair.value}}
    </div>
    {{ courses | json }}


  </div> -->
